{% extends "index.html" %}
{% load django_browser_reload %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="shadow-md p-6 rounded-lg bg-white w-full">
    <div class="flex flex-wrap justify-between">
        <div class="shadow-md p-6 rounded-lg bg-white w-full md:w-1/2">
            <div class="overflow-x-auto">
                <h1 class="text-2xl font-bold mb-5">Preguntas Recibidas por mes</h1>
                <div class="max-h-80 overflow-y-auto">
                    <canvas id="qChart"></canvas>
                </div>
            </div>
        </div>
        <div class="shadow-md p-6 rounded-lg bg-white w-full md:w-1/2 mt-5 md:mt-0">
            <div class="overflow-x-auto">
                <h1 class="text-2xl font-bold mb-5">Promedio de valoraciones por mes</h1>
                <div class="max-h-80 overflow-y-auto">
                    <canvas id="rChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const ctq = document.getElementById('qChart');

    new Chart(ctq, {
    type: 'bar',
    data: {
        labels: [{% for que_x_axis in que_x_axis %}"{{ que_x_axis }}", {% endfor %}],

        datasets: [{
        label: 'Preguntas',
        data: [{% for que_y_axis in que_y_axis %}{{ que_y_axis }}, {% endfor %}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
        }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    const ctx = document.getElementById('rChart');
    
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for month in ra_x_axis %}"{{ month }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
            datasets: [{
                label: 'Valoraciones',
                data: [{% for rating in ra_y_axis %}{{ rating }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}