{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#000000">
    <link rel="icon" href="/static/images/Tecicon.svg">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div id="topPanel" class="bg-blue-600 p-2 flex flex-col sm:flex-row justify-between items-center">
        <div class="flex items-center mb-2 sm:mb-0">
            <a href="/">
                <img src="/static/images/Tecicon.svg" class="h-20" alt="Tec icon">
            </a>
            <h1 class="text-white font-bold text-2xl ml-4">{{ title }}</h1>
        </div>
        <div class="flex items-center">
            {% if user.is_authenticated %}
                <span class="text-white mr-4">Bienvenido, {{ user.username }}</span>
                <form id="logout-form" method="post" action="{% url 'logout' %}" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="text-white bg-red-500 hover:bg-red-700 font-bold py-2 px-4 rounded">
                        Logout
                    </button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">
                    Login
                </a>
            {% endif %}
        </div>
    </div>
    
    <div class="flex h-screen bg-gray-100">
        <div id="sidePanel" class="w-64 h-screen">
            <div class="p-4 shadow-lg h-full" style="background-color: #3BC0E9;">
                <ul class="space-y-4 mt-4">
                    <li>
                        <a href="/dashboard/" class="text-white font-bold block px-2 py-2 w-full flex items-center transition-colors duration-300 ease-in-out hover:bg-white hover:text-black {% if current == 'dashboard' %}bg-white bg-opacity-50 rounded{% endif %}">
                            <i class="fas fa-chart-line px-2 fa-lg"></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/upload/" class="text-white font-bold block px-2 py-2 w-full flex items-center transition-colors duration-300 ease-in-out hover:bg-white hover:text-black {% if current == 'upload' %}bg-white bg-opacity-50 rounded{% endif %}">
                            <i class="fas fa-file-upload px-2 fa-lg"></i> Subir archivo
                        </a>
                    </li>
                    <li>
                        <a href="/questions/" class="text-white font-bold block px-2 py-2 w-full flex items-center transition-colors duration-300 ease-in-out hover:bg-white hover:text-black {% if current == 'questions' %}bg-white bg-opacity-50 rounded{% endif %}">
                            <i class="fas fa-question px-2 fa-lg"></i> Preguntas
                        </a>
                    </li>
                    <li>
                        <a href="/ratings/" class="text-white font-bold block px-2 py-2 w-full flex items-center transition-colors duration-300 ease-in-out hover:bg-white hover:text-black {% if current == 'ratings' %}bg-white bg-opacity-50 rounded{% endif %}">
                            <i class="fas fa-star px-2 fa-lg"></i> Valoraciones
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mainPanel" class="min-h-screen px-4 py-4 flex justify-center w-full">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
<script>
    setTimeout(function() {
        if ($('#msg').length > 0) {
            $('#msg').fadeOut();
        }
    }, 2500);
</script>
</html>


